<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Downlink Podcast | Exploring Space from Here</title>
    <link rel="stylesheet" href="/build/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Rubik+Mono+One|Space+Mono:400,700&display=swap"
          rel="stylesheet"/>
    {% block head %}
    {% endblock %}
</head>
<body class="bg-stars bg-black font-sans leading-normal tracking-normal">
{% block header %}
    {% include "pieces/nav" %}
{% endblock %}
<div class="container w-full md:max-w-4xl mx-auto">
    <div class="w-full px-4 md:px-6 text-xl text-gray-800 leading-normal">
        {% block content %}
        {% endblock %}
    </div>
</div>
{% include "pieces/footer" %}
</body>
</html>
